@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: slateblue;
}

.container{
  width: 80%;
  max-width: 37.5em;
  padding: 3em 1.5em;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.4em 3em rgba(20, 16, 39, 0.3);
}

.container img{
  display: block;
  height: 25em;
  margin: 0 auto 1em auto;
  max-width: 80%;
}

.container h3{
  display: block;
  font-size: 1em;
  margin: 0.5em auto 2em auto;
  width: 70%;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  color: #737081;
  letter-spacing: 0.03em;
}

.container button{
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 0.8em 2em;
  border-radius: 2em;
  background-color: #7f5eff;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width:600px) {
  .container{
    font-size: 14px;
  }
}